@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
}
body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1 {
    font-size: 40px;
    text-align: center;
}
.form-container {
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 350px;
    margin-right: 300px;
}
.form-group label {
    display: inline-block;
    width: 90px;
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
    margin-right: 50px;
    font-weight: bold;
    justify-content: space-between;
}
.form-group input {
    justify-content: left;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
} 